@model IEnumerable<MvcBooks.Models.Books>

@{
    ViewData["Title"] = "Index";
}

<h1>Books to Read</h1>

<!--This page shows all books that have not yet been read (read==false)-->

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.author)
            </th>
            <!--            <th>
                    @Html.DisplayNameFor(model => model.read)
                </th>-->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (item.read == false)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.author)
                    </td>
                    <!--           <td>
                           @Html.DisplayFor(modelItem => item.read)
                       </td> -->
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
